<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>質問作成</title>
</head>
<body>

<h1>質問を追加</h1>

<form th:action="@{/admin/questions}" th:object="${question}" method="post">
    <input type="text" th:field="*{text}" placeholder="質問内容" >

    <p th:if="${#fields.hasErrors('text')}"
        th:errors="*{text}"
        style="color: red;">
        エラー
    </p>
    
    <button type="submit">登録</button>
</form>

<a href="/admin/questions">戻る</a>

</body>
</html>